/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin: auto;
  display: inline-block;
  transition: 5s;
}


.transform-demo>div:hover {
  transform: translateX(150px) rotate(150deg);
}

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: .5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  transition: 5s;
}

.transition-demo img:hover {
  filter: none;
  transform: rotate(360deg) scale(2.0);
}

/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;
  animation-name: luis-bar;
  animation-duration: 10s;
}

@keyframes luis-bar {
  0% { background-color: lightgreen; width: 450px }
  25% { background: purple; width: 350px}
  50% { background: yellow; width: 224px; border-radius: 10px;}
  75% { background-color: #FF033E; width: 125x; border-radius: 30px; }
  100% { background-color: crimson; width: 10px;border-radius: 50px; height: 10px;}
}



section {
  height: 600px;
  width: 600px;
  background: red;
}


.inner-div {
  background: blue;
  height: 200px;
  width: 200px;
  animation: move-div 5s infinite;
}


@keyframes move-div {
  0% {transform: translateX(0) translateY(0)}
  25% {transform: translateX(0) translateY(200%)}
  50% {transform: translateX(400px) translateY(200%)}
  75% {transform: translateX(200%) translateY(0);}
}